---
layout: layouts/base.njk
pagination:
  data: collections.allMediums
  size: 1
  alias: medium
permalink: "medium/{{ medium | slugify }}/"
---

<div id="regular-content" class="filter-by-medium {{ medium }}">

  <h1>
    {# <span class="gray">medium:</span> #}
    {% if medium == "website" %}
      websites
    {% elseif medium == "world" %}
      worlds
    {% elseif medium == "publication" %}
      publications
    {% elseif medium == "object" %}
      objects
    {% elseif medium == "event" %}
      events
    {% elseif medium == "talk" %}
      talks
    {% elseif medium == "identity" %}
      identities
    {% else %}
      {{ medium }}
    {% endif %}
  </h1>

  <div class="grid">

    {% for e in collections.selected_section_shuffled %}
      {% if e.data.draft == true %}
      {% else %}
        {% if e.data.layout == "layouts/base.njk" %}
        {% else %}
          {% if e.data.medium and e.data.medium.includes(medium) %}
          <div class="grid-item">
            <a href="{{ e.url }}">
              <figure class="image">
                  <img src="{{ e.data.featured_image }}" class="{{ e.data.featured_solar }} {{ e.data.featured_border }}">
              </figure>
            </a>
            <a href="{{ e.url }}">
              <div class="title">
                  {{ e.data.title }}
                  <div class="gray">
                    {% if medium == "writing" %}
                      {{ e.data.publisher }}
                    {% else %}
                      {{ e.data.subtitle }}
                    {% endif %}
                  </div>
              </div>
            </a>
          </div>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}

  </div>

  {# {% if medium == "teaching" %}
  {% else %} #}

  <hr>

  <h2>
    {% if medium == "teaching" %}
      Everything associated w/ {{ medium }}
    {% else %}
      Every {{ medium }}
    {% endif %}
  </h2>

<div id="table-list">

      {% for e in collections.all | reverse %}
          {% if e.data.medium and e.data.medium.includes(medium) %}
            {% if e.data.layout == "layouts/base.njk" %}
            {% else %}
                {% if e.data.draft == true %}
                <div class="list-item draft">
                {% else %}
                <a href="{{ e.url }}" class="list-item">
                {% endif %}
                {% if medium == "writing" %}
                  <div class="year-seasons">
                    {{ e.data.year }} <span class="season">{{ e.data.season }}</span>
                  </div>
                {% elseif medium == "talk" %}
                  <div class="year-seasons">
                    {{ e.data.date.getFullYear() }}-{% if e.data.date.getMonth() + 1 < 10 %}0{% endif %}{{ e.data.date.getMonth() + 1 }}-{% if e.data.date.getDate() < 10 %}0{% endif %}{{ e.data.date.getDate() + 1 }}
                  </div>
                {% else %}
                  <div class="year">
                    {{ e.data.year }}
                  </div>
                {% endif %}
                <div class="featured">
                  {% if e.data.selected_section == true %}
                    &bull;
                  {% endif %}
                </div>
                <div class="title">
                  {{ e.data.title }}
                </div>
                <div class="type">
                  {% if medium == "teaching" %}
                  {% else %}
                    {{ medium }}
                  {% endif %}
                </div>
                <div class="short-description">
                  {% if medium == "talk" %}
                    {{ e.data.location }}
                  {% else %}
                    {{ e.data.subtitle }}
                  {% endif %}
                </div>
                <div class="venue">
                  {% if medium == "world" %}
                    {# {{ e.data.collaborator }} #}
                    with {% for c in e.data.collaborator %}{{ c }}{{ "," if not loop.last else "" }} {% endfor %}
                  {% elseif medium == "talk" %}
                    {{ e.data.venue }}
                  {% elseif medium == "website" %}
                    http://{{ e.data.hyperlink }}
                  {% else %}
                    {{ e.data.publisher }}
                  {% endif %}
                </div>
            {% if e.data.draft == true %}
            </div>
            {% else %}
            </a>
            {% endif %}
            {% endif %}
        {% endif %}
      {% endfor %}

        </div>

    {# {% endif %} #}

    {% include "layouts/footer.njk" %}

    <!-- end 1 --></div>

    <!-- end 2 --></div>

    </div>

    </div>

  </div>

</div>