---
layout: layouts/base.njk
pagination:
  data: collections.allYears
  size: 1
  alias: year
permalink: "year/{{ year | slugify }}/"
---

<div id="regular-content">

  <h1>
    {# year:  #}
    {{ year }}
  </h1>

  <div class="grid">

    {% for e in collections.all %}
        {% if e.data.year and e.data.year.includes(year) %}
        {% if e.data.draft == true %}
          <div class="grid-item">
              <div class="title">
                  {{ e.data.title }}
              </div>
              <div class="gray">
                  {{ e.data.subtitle }}
              </div>
          </div>
        {% else %}
        <div class="grid-item">
          <a href="{{ e.url }}">
            <figure class="image">
                <img src="{{ e.data.featured_image }}">
            </figure>
          </a>
          <a href="{{ e.url }}">
            <div class="title">
                {{ e.data.title }}
            </div>
            <div class="gray">
                {{ e.data.subtitle }}
            </div>
          </a>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}

  </div>

</div>