---
layout: layouts/base.njk
pagination:
  data: collections.allYears
  size: 1
  alias: year
permalink: "year/{{ year | slugify }}/"
---

<div id="regular-content">

  <h1>
    <span class="gray">year:</span>
    {{ year }}
  </h1>

  {# <nav>

    {% set previousYear = year | minus: 1 %}
    {% set nextYear = year | plus: 1 %}
    
    <a href="/year/{{ previousYear | slugify }}/" class="prev">←</a>
    <a href="/year/{{ nextYear | slugify }}/" class="next">→</a>
    
  </nav> #}

  <div class="grid">

    {% for e in collections.all %}
        {% if e.data.year and e.data.year.includes(year) %}
        {% if e.data.draft == true %}
          <div class="grid-item">
              <figure class="image">
                <img src="/assets/media/empty.png" class="border">
              </figure>
              <div class="title gray">
                  {{ e.data.title }}
              </div>
              <div class="gray">
                  {% if "talk" in e.data.medium %}
                      {{ e.data.venue }}
                  {% else %}
                    {{ e.data.subtitle }}
                  {% endif %}
              </div>
          </div>
        {% else %}
        <div class="grid-item">
          <a href="{{ e.url }}">
            <figure class="image">
                <img src="{{ e.data.featured_image }}" class="{{ e.data.featured_solar }} {{ e.data.featured_border }}">
            </figure>
          </a>
          <a href="{{ e.url }}">
            <div class="title">
                {{ e.data.title }}
            </div>
            <div class="gray">
                {{ e.data.subtitle }}
                {# {% if "talk" in e.data.medium %}
                    <br>{{ e.data.venue }}
                {% endif %} #}
            </div>
          </a>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}

  </div>

  {% include "layouts/footer.njk" %}


</div>