---
layout: layouts/base.njk
pagination:
  data: collections.allCollaborators
  size: 1
  alias: collaborator
permalink: "with/{{ collaborator | slugify }}/"
---

<div id="regular-content">
  
  <div class="grid">
    <div class="grid-item double">
      <h1 style="margin-bottom: 0.5em;">
        <span class="gray">with:</span>
        {{ collaborator }}
      </h1>
    </div>
    <div class="grid-item">
      {% set collaboratorData = {} %}
      {% for person in collaborators %}
        {% if person.name == collaborator %}
          {% set collaboratorData = person -%}
        {% endif %}
      {% endfor %}
      <p><a href="{{ collaboratorData.link }}" style="border-bottom: 1px solid rgba(0,0,0,0.15)">{{ collaboratorData.link }}</a> ↗</p>
    </div>
  </div>

  <div class="grid">

    {% for e in collections.all %}
      {% if e.data.collaborator and e.data.collaborator.includes(collaborator) %}
      {% if e.data.draft == true %}
        <div class="grid-item">
            <div class="title">
                {{ e.data.title }}
            </div>
            <div class="gray">
                {{ e.data.subtitle }}
            </div>
        </div>
      {% else %}
        <div class="grid-item">
          <a href="{{ e.url }}">
            <figure class="image">
                <img src="{{ e.data.featured_image }}">
            </figure>
          </a>
          <a href="{{ e.url }}">
            <div class="title">
                {{ e.data.title }}
            </div>
            <div class="gray">
                {{ e.data.subtitle }}
            </div>
          </a>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}

  </div>

  {% include "layouts/footer.njk" %}

</div>