---
layout: layouts/base.njk
---

<div id="regular-content">

    <h1>Everything</h1>
    <!-- this should be a dropdown ... or like arena core -->

    {% set e_all = collections.e %}
    {% include "layouts/e_all.njk" %}

</div>