---
layout: layouts/base.njk
---

<div id="regular-content">

    {% set e_selected = collections.selected %}
    {% set e_all = collections.everything %}
    {% include "layouts/e_selected.njk" %}

</div>