---
layout: layouts/base.njk
---

<div id="regular-content">

    <!-- this should be a dropdown ... or like arena core -->

    {% set e_selected = collections.selected %}
    {% include "layouts/e_selected.njk" %}

</div>