---
layout: layouts/base.njk
permalink: /5-simple-selected/
---

<div id="regular-content">

    {% set e_selected = collections.selected %}
    {% set e_all = collections.everything %}
    {% include "layouts/e_selected_simple.njk" %}

</div>