---
permalink: /medium/world/
---

{% extends "layouts/base.njk" %}

{% block content %}

<div id="regular-content" class="filter-by-medium">
    
  <h1>
    <span class="gray">Medium:</span>
    Worlds
  </h1>

{% set worldData = {} %}

<nav id="worlds">

    {% for world in worlds %}
        {% if world.draft == "true" %}
        {% else %}
        <div class="world" style="margin-bottom: 0.25em;">
        <a href="{{ world.name | slugify }}" class="world">
            <figure class="image world">
                <img src="{{ world.featured_image }}">
            </figure>
        </a>
        <a href="{{ world.name | slugify }}" style="border: 0;">
            {{ world.name }}
        </a>
    </div>
    {% endif %}
    {% endfor %}

</div>

</nav>


    {% include "layouts/footer.njk" %}

</div>

{% endblock %}