---
layout: layouts/base.njk
pagination:
  data: collections.writing
  size: 10
  alias: writingE
permalink: "writing/index.html"
---

<h1>Writing</h1>

<div class="grid">

{% for e in writingE %}
  <div class="grid-item">
        <a href="{{ e.url }}">
        <figure class="image">
            <img src="{{ e.data.featured_image }}">
        </figure>
        </a>
        <a href="{{ e.url }}">
        <div class="title">
            {{ e.data.title }}
        </div>
        </a>
    </div>
{% endfor %}

</div>