---
site_title: Laurel Schwulst
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/assets/css/style.css">
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ description or 'Default site description' }}">
        <meta property="og:image" content="{{ domain }}{{ featured_image | url }}">
        <meta property="og:url" content="{{ domain }}{{ page.url }}">
        <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    </head>
    <body>
        
        {% if layout == "layouts/e.njk" %}
            <div id="menu-itself">
                <div class="grid">
                    <div class="grid-item">
                        <a href="/" id="home">home</a>
                    </div>
                    <div class="grid-item">
                        <select id="project-navigator">
                            <option value="" disabled selected>projects</option>
                            <option value="/index.html">projects / selected</option>
                            <option value="/e/index.html">projects / every</option>
                            <option value="/medium/writing/index.html">writing</option>
                            <option value="/medium/website/index.html">websites</option>
                        </select>
                    </div>
                    <div class="grid-item">
                        <a href="/i/laurel-schwulst/index.html">information</a>
                    </div>
                    <div class="grid-item">
                        shop
                    </div>
                </div>
            </div>
            <a href="/" id="home">{{ site_title }}</a>
            <nav id="top-right">
                <span id="menu-click">☰</span>
            </nav>
        {% else %}
        <div class="grid" style="position: absolute; top: 2em; left: 2em; right: 2em;">
            <div class="grid-item">
                <a href="/" id="home">{{ site_title }}</a>
            </div>
            <div class="grid-item">
                <select id="project-navigator">
                    <option value="" disabled selected>projects</option>
                    <option value="/index.html">projects / selected</option>
                    <option value="/e/index.html">projects / every</option>
                    <option value="/medium/writing/index.html">writing</option>
                    <option value="/medium/website/index.html">websites</option>
                </select>
            </div>
            <div class="grid-item">
                <a href="/i/laurel-schwulst/index.html">information</a>
            </div>
            <div class="grid-item">
                shop
            </div>
        </div>
        {% endif %}
        
        {{ content | safe }}

        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/script.js"></script>
    </body>
</html>