---
layout: layouts/base.njk
---
{# 
{% set currentIndex = -1 %}
{% for item in collections.everything %}
  {% if item.url === page.url %}
    {% set currentIndex = loop.index0 %}
  {% endif %}
{% endfor %}

{% if currentIndex != -1 %}
  {% set prevPost = collections.everything[currentIndex - 1] %}
  {% set nextPost = collections.everything[currentIndex + 1] %}
{% endif %}

<nav id="lateral">

  {% if currentIndex > 0 %}
    <a href="{{ prevPost.url }}" class="prev">←</a>
  {% endif %}

  {% if currentIndex < collections.everything.length - 1 %}
    <a href="{{ nextPost.url }}" class="next">→</a>
  {% endif %}
  
</nav> #}

{% if type == "writing" %}

<div id="container-everything">

  <div id="metadata">

    {# <a href="home.html" class="invisible">laurel schwulst</a><br> #}

    <span class="essential-metadata">
        <date>
            {% for y in year %}<a href="/year/{{ y | slugify }}/" class="gray">{{ y }}</a>{{ "," if not loop.last else "" }}{% endfor %}
            <span class="gray">{{ season }}, </span>
            <a href="/medium/writing/" class="gray">{{ subtitle }}</a>
        </date>
    </span>

    <div class="context-simple">
      <p style="margin-top: 0;">
        {{ context | safe }}
      </p>
    </div>

  </div>

  <div class="container">

    <div class="empty"></div>

    <div class="star"><div class="writing">
        <div id="title">
        <h1>
            {% if title_full %}
                {{title_full}}
            {% else %}
                {{title}}
            {% endif %}
        </h1>

        <div id="metadata-mobile">
                
            <div class="context-simple">
            {{ context | safe }}
            </div>
        
        </div>

        <div id="bottom-title">
            {{ bottom_title | safe }}
        </div>
        </div>

        <div id="title-space"></div>

        <div id="content">

            <p>{{ content | safe }}</p>

            <p class="gray" style="margin-top: 2em; margin-bottom: 4em;">
                {{ date_season }}
            </p>

            <footer class="small">
                {{ footer | safe }}
                {# <br><br> #}
                {# <p class="gray" style="margin-top: 1em;">
                    filed under: 
                    {% for m in medium %}<a href="/medium/{{ m | slugify }}/">{{ m }}</a>{{ ", " if not loop.last else "" }}{% endfor %}.
                </p> #}
            </footer>

        </div></div>

    </div>

    <div class="empty"></div>

</div>

{# START: FOR THE REAL VERSION
<p class="small filters">
    Filtered under:
    {% for y in year %}<a href="/year/{{ y | slugify }}/">{{ y }}</a>{{ "," if not loop.last else "" }}{% endfor %},
    {% for m in medium %}<a href="/medium/{{ m | slugify }}/">{{ m }}</a>{{ "," if not loop.last else "" }}{% endfor %}.
</p>
END: FOR THE REAL VERSION #}

{% else %}

<div id="regular-content">

    <div class="grid project-metadata">
        <div class="grid-item double">
            <h1 style="margin-bottom: 0.5em;">{{title}}</h1>
        </div>
        <div class="grid-item gray" style="margin-top: 1em;">
            {{ subtitle }}
        </div>
        <div class="grid-item gray" style="margin-top: 1em;">
            {# {{ year }}<br> #}
            {% for y in year %}<a href="/year/{{ y | slugify }}/">{{ y }}</a>{{ "," if not loop.last else "" }}{% endfor %}<br>
            {# {{ medium }} #}
            {% for m in medium %}<a href="/medium/{{ m | slugify }}/">{{ m }}</a>{{ "," if not loop.last else "" }}{% if m == "talk" %} at {{ venue }}<br>{{ location }}
            {% endif %}{% endfor %}
        </div>
    </div>

    <div class="one-column">
        <div class="project-images {{ media_one_type }}">
            {% for item in media_one %}
                {% if item.media.type == "image" %}
                    <figure class="{{ item.media.size }} {{ item.media.solar }} {{ item.media.border }}">
                        <img src="{{ item.media.path }}" alt="{{ item.media.alt }}">
                        <figcaption>{{ item.media.caption }}</figcaption>
                    </figure>
                {% elif item.media.type == "video" %}
                    <div class="video-mask">
                        <video playsinline {% if item.media.controls === true %}controls {% else %}autoplay loop muted{% endif %} class="{{ item.media.solar }}">
                            <source src="{{ item.media.path }}" type="video/mp4">
                        </video>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="two-columns">

        <div class="project-images beginning">
            {% for item in media_two_beginning %}
                {% if item.media.type == "image" %}
                    <figure class="{{ item.media.size }} {{ item.media.solar }} {{ item.media.border }}">
                        <img src="{{ item.media.path }}" alt="{{ item.media.alt }}">
                        <figcaption>{{ item.media.caption }}</figcaption>
                    </figure>
                {% elif item.media.type == "video" %}
                    <div class="video-mask">
                        <video playsinline {% if item.media.controls === true %}controls {% else %}autoplay loop muted{% endif %} class="{{ item.media.solar }}">
                            <source src="{{ item.media.path }}" type="video/mp4">
                        </video>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="project-metadata">

            {# <b>{{ title }}</b> #}

            {# <p class="year-medium"> #}

                {# <div class="year-medium-simple">
                    {% for y in year %}{{ y }}{{ "," if not loop.last else "" }} {% endfor %}<br>
                    {{ subtitle }}
                </div> #}

                {# START: FILTERS FOR REAL VERSION #}
                    {# {% for y in year %}
                        <a href="/year/{{ y | slugify }}/">{{ y }}</a>{{ "," if not loop.last else "" }}
                    {% endfor %}

                    <br>

                    {% for m in medium %}
                        <a href="/medium/{{ m | slugify }}/">{{ m }}</a>{{ "," if not loop.last else "" }}
                    {% endfor %} #}
                {# END: FILTERS FOR REAL VERSION #}

                {# <br><br>
                
                with:<br>
                {% for collab in collaborator %}
                    <a href="/with/{{ collab | slugify }}/">{{ collab }}</a>{{ "," if not loop.last else "" }}
                {% endfor %} #}
            {# </p> #}

            {# <div class="small"> #}
            {{ content | safe }}
            {# </div> #}

            {# <p class="small gray">
                Filtered under:
                {% for m in medium %}<a href="/medium/{{ m | slugify }}/">{{ m }}</a>{{ "," if not loop.last else "" }} {% endfor %}
            </p> #}

        </div>

        <div class="project-images ending">
            {% for item in media_two_ending %}
                {% if item.media.type == "image" %}
                    <figure class="{{ item.media.size }} {{ item.media.solar }} {{ item.media.border }}">
                        <img src="{{ item.media.path }}" alt="{{ item.media.alt }}">
                        <figcaption>{{ item.media.caption }}</figcaption>
                    </figure>
                {% elif item.media.type == "video" %}
                    <div class="video-mask">
                        <video playsinline {% if item.media.controls === true %}controls {% else %}autoplay loop muted{% endif %} class="{{ item.media.solar }}">
                            <source src="{{ item.media.path }}" type="video/mp4">
                        </video>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="one-column">
        {{ media_three_code | safe }}
        <div class="project-images">
            {% for item in media_three %}
                {% if item.media.type == "image" %}
                    <figure class="{{ item.media.size }} {{ item.media.solar }} {{ item.media.border }}">
                        <img src="{{ item.media.path }}" alt="{{ item.media.alt }}">
                        {% if item.media.caption.length > 0 %}<figcaption>{{ item.media.caption }}</figcaption>{% endif %}
                    </figure>
                {% elif item.media.type == "video" %}
                    <video playsinline {% if item.media.controls === true %}controls {% else %}autoplay loop muted{% endif %} class="{{ item.media.solar }} {{ item.media.size }}">
                        <source src="{{ item.media.path }}" type="video/mp4">
                    </video>
                {% endif %}
            {% endfor %}
        </div>
        {{ media_three_code_after | safe }}
    </div>

{% endif %}

{% if related_projects.length > 0 %}

<hr>
<h2>Related</h2>

<!-- start related code -->

<div class="grid">
  {% for related_path in related_projects %}
    {% for project in collections.all %}
      {% if project.inputPath.endsWith(related_path) %}
        {% if project.data.draft == true %}
        {% else %}
        <div class="grid-item">
            <a href="{{ project.url }}">
                <figure class="image">
                  <img src="{{ project.data.featured_image }}" class="{{ project.data.featured_solar }}">
              </figure>
            </a>
            <a href="{{ project.url }}">
                <div class="title">
                    {{ project.data.title }}
                </div>
                <div class="gray">
                    {{ project.data.subtitle }}
                </div>
            </a>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}

</div>
<!-- end related code -->

{% endif %}

{% include "layouts/footer.njk" %}

</div>

</div>

</div>

