<div id="table-list">

  {% for e in e_all | reverse %}
      <div class="list-item-container">
    {% if e.data.draft == true %}
      <div class="list-item draft">
    {% else %}
      <a href="{{ e.url }}" class="list-item">
    {% endif %}
      <div class="year">
        {{ e.data.year }}
      </div>
      {# <div class="featured">
        {% if e.data.selected == true %}
          &bull;
        {% endif %}
      </div> #}
      <div class="title">
        {{ e.data.title }}
      </div>
      <div class="type">
        {% for m in e.data.medium %}{{ m }}{{ ", " if not loop.last else "" }}{% endfor %}
      </div>
      <div class="short-description">
        {{ e.data.subtitle }}
      </div>
      {# <div class="venue">
        {{ e.data.publisher }}
      </div> #}
    {% if e.data.draft == true %}
      </div>
      {% if e.data.link %}
        <a class="hyperlink draft" href="{{ e.data.link }}" target="_blank">↗</a>
      {% else %}
        <span class="hyperlink">↗</span>
      {% endif %}
    {% else %}
      </a>
      {% if e.data.link %}
        <a class="hyperlink" href="{{ e.data.link }}" target="_blank">↗</a>
      {% else %}
        <span class="hyperlink">↗</span>
      {% endif %}
    {% endif %}
    </div>
  {% endfor %}

</div>

{# <p style="margin-top: 2.5em;">
  Key:<br><br>
  &bull; Selected project<br>
  - Still filling out this project
</p> #}

{% include "layouts/footer.njk" %}