<div class="grid">
  
  <div class="grid-item">
    <h1>
      <a href="/medium/writing/">writing</a><br>
      <a href="/medium/website/">websites</a><br>
      <a href="/world/">worlds</a><br>
      <a href="/medium/teaching/">teaching</a><br>
      <a href="/medium/talk/">talks</a><br>
      <a href="/e/">everything</a><br>
      <a href="/i/bio/index.html">about</a><br>
      <a href="/i/contact/index.html">contact</a>
    </h1>
</div>

    {% for e in e_all_shuffled %}
        {% if e.data.draft == true %}
        {% else %}
        <div class="grid-item" style="margin-top: 1em;">
        <a href="{{ e.url }}">
            <figure class="image">
                <img src="{{ e.data.featured_image }}" class="{{ e.data.featured_solar }} {{ e.data.featured_border }}">
            </figure>
        </a>
        <a href="{{ e.url }}">
            <div class="title">
                {{ e.data.title }}
                <div class="gray">{{ e.data.subtitle }}</div>
            </div>
        </a>
        </div>
    {% endif %}
  {% endfor %}

</div>

{% include "layouts/footer.njk" %}

<style>
  #menu-click { display: none; }
</style>