<div class="grid">
  
  <nav id="home" class="grid-item">
      <a href="/medium/writing/">writing</a><br>
      <a href="/medium/website/">websites</a><br>
      <a href="/medium/world/">worlds</a><br>
      <a href="/medium/teaching/">teaching</a><br>
      <a href="/medium/talk/">talks</a><br>
      <a href="/e/">everything</a><br>
      <a href="/about/">about</a>
  </nav>

    {% for e in e_all_shuffled %}
        {% if e.data.draft == true %}
        {% else %}
        {% if e.data.hide_on_home != true %}
        <div class="grid-item" style="margin-top: 1em;">
        <a href="{{ e.url }}">
            <figure class="image">
                <img src="{{ e.data.featured_image }}" class="{{ e.data.featured_solar }} {{ e.data.featured_border }} {{ e.data.featured_fill }}">
            </figure>
        </a>
        <a href="{{ e.url }}">
            <div class="title">
                {{ e.data.title }}
                <div class="gray">{{ e.data.subtitle }}</div>
            </div>
        </a>
        </div>
        {% endif %}
    {% endif %}
  {% endfor %}

</div>

{% include "layouts/footer.njk" %}

<style>
  #menu-click { display: none; }
</style>