<div class="grid" id="triple">
  
  <div class="grid-item">
    <h1>
      <a href="/medium/writing/">writing</a><br>
      <a href="/medium/website/">websites</a><br>
      <a href="/medium/world/">worlds</a><br>
      <a href="/medium/teaching/">teaching</a><br>
      <a href="/medium/talk/">talks</a><br>
      <a href="/e/">everything</a><br>
      <a href="/i/bio/index.html">biography</a><br>
      <a href="/i/contact/index.html">contact</a>
    </h1>
  </div>

  <div class="grid-item" style="margin-top: -2.5em;">
    <a href="/e/on-eggs/">
        <figure>
            <img src="/assets/media/eggs-nam-june-paik.jpg">
            <figcaption>
                <i>Three Eggs</i> by Nam June Paik, 1975–1982  
            </figcaption>
        </figure>
        On Eggs<br>
        <div class="gray">Essay for Naive Yearly & Are.na
    </a>
        </div>
  </div>

</div>

{% include "layouts/footer.njk" %}

<style>
  #menu-click { display: none; }
</style>