<h1>selected projects & writing</h1>

<div class="grid">

  {# <div class="grid-item">
    <h1>
      <a href="/medium/writing">writing</a><br>
      <a href="/medium/project">projects</a><br>
      <a href="/about">about</a>
    </h1>
  </div> #}
  
  {% for e in e_selected %}
    <div class="grid-item">
      {% if e.data.featured_image.length > 0 %}
        <a href="{{ e.url }}">
          <figure class="image">
              <img src="{{ e.data.featured_image }}">
          </figure>
        </a>
      {% endif %}
      <a href="{{ e.url }}">
        <div class="title">
            {{ e.data.title }}
            <div class="gray">{{ e.data.subtitle }}</div>
        </div>
      </a>
    </div>
  {% endfor %}

</div>

<p style="max-width: 555px; margin-top: 25vh">
    Laurel Schwulst is a designer, artist, writer, educator, and technologist based in New York. She is interested in ambient forms of design and literature, public works, and the poetic potential of the web.
    <br><br>
    <a href="/about">Continue</a>
</p>

<footer class="small">
  This website is gradually evolving. It was last updated on January 19, 2024.
</footer>