<footer class="home">
  <a id="back-to-top" href="#top">↑</a>
  <div class="small-text">
    Today is <date id="todays-date"></date>.
    This is the website of Laurel Schwulst, who last updated it <span id="on">on </span><date id="last-updated-date">February 10, 2024</date>. Thank you for visiting.
  </div>
</footer>