---
layout: layouts/base.njk
---

<div id="regular-content" class="information">

    {% if hide_title === true %}
    {% else %}
        <h1>{{ title }}</h1>
    {% endif %}

    {{ content | safe }}

    {% include "layouts/footer.njk" %}

</div>

