<h1>News</h1>

<div class="grid">

    <div class="grid-item" class="upcoming">
      I am lecturing at the University of Tennessee<br><br>
      <div class="gray">February 26, 2024</div>
    </div>
    <div class="grid-item" class="upcoming">
      I will give another kite workshop with the DIA Art Foundation<br><br>
      <div class="gray">Spring 2024</div>
    </div>

</div>

{% include "layouts/footer.njk" %}